* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}

#background {
    z-index: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.pink {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.blue {
    background-image: linear-gradient(to top, #80a5df 0%, #034dc7 100%);
}

#introContainer {
    width: 100vw;
    height: 100vh;
}

img.logo {
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    width: 500px;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 50%;
}

#subtitle,
#name {
    position: absolute;
    bottom: 50%;
    font-size: 14pt;
}

#subtitle{
    transform: rotate(90deg);
    left: -50px;
}

#name{
    transform: rotate(-90deg);
    right: -50px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#headsetContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#metaContainer {
    position: absolute;
    top: 200vh;
    height: 100vh;
    width: 100vw;
}

.UI {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}

.welcome {
    position: relative;
    text-align: center;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 30pt;
    color: white;
    font-weight: normal;
}

button {
    position: relative;
    background-color: #034dc7;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #1c5cc4;
}

#UIGroupL,
#UIGroupR {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: blur(20px);
    transition-timing-function: ease-in-out;
}

#UIGroupL {
    transform: translate(-300px);
}

#UIGroupR {
    transform: translate(300px);
}

#links {
    display: none;
    width: 100vw;
    position: absolute;
    bottom: 20px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

iframe {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PHONES */
/* This isn't working - not sure why */

@media screen and (max-width: 767px) {
    circle {
        width: 300px;
        height: 300px;
    }
    
    iframe {
        width: 560px;
        height: 315px;
    }
}
